body {
    padding-top: 50px;
}
.container .text-muted {
    margin: 20px 0;
}
.bd-footer {
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7
}
.bd-footer a {
    font-weight: 500;
    color: #495057
}
.bd-footer a:focus, .bd-footer a:hover {
    color: #007bff
}
.bd-footer p {
    margin-bottom: 0
}
@media (min-width: 576px) {
    .bd-footer {
        text-align: left
    }
}
.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem
}
.bd-footer-links li {
    display: inline-block
}
.bd-footer-links li+li {
    margin-left: 1rem
}